<html>
  <head>
    <title>Eth Lagos 2022</title>
  </head>
  <body>
    <div>
      <span>Thank you for applying as a {{type}} in Eth Lagos 2022</span>
      <div>We look forward to meet with you during the conference</div>
    </div>
  </body>
</html>