asgiref
certifi
charset-normalizer
cloudinary
Django
django-cloudinary-storage
django-cors-headers
djangorestframework
djangorestframework-simplejwt
drf-yasg
idna
inflection
packaging
pillow
psycopg2
PyJWT
python-decouple
pytz
PyYAML
requests
rest-framework-simplejwt
six
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
python-decouple
requests
gunicorn