
.react-tabs__tab--selected{
    background-color: #B91C1C!important;
    padding: 0.5rem 1rem;
    font-weight: 700;

}

.react-tabs__tab {
    border:0!important;
    padding: 1rem 1rem!important;
background: rgba(65, 71, 88, 0.3);
    width: 33%;
    text-align: center;
    color: #fff!important;
    
    }

    .react-tabs__tab::after{
        content:"";

        display: none;
      
        }

.react-tabs__tab-list {
    /* border:0; */
    border:0!important;
    background: rgba(65, 71, 88, 0.3);
    margin-bottom: 2rem!important;
}


.eventSchedule {
    background: #122B47;
    padding: 1.19rem;
    height: auto;
}

.eventSchedule h3 {
    color: #FFFFFF;
    font-size: 24px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 48px;
    background: rgba(65, 71, 88, 0.3);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.3rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    width: calc(100%/3);
    height: 48px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    background: rgba(65, 71, 88, 0.3);
    outline: none;
    border: none;
    color: #E9EFFF;
}

.individualEvent {
    background: #E9EFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 13.5px;
    gap: 8px;
    margin-bottom: 9px;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
    min-height: 68px;
}

.individualEvent1 {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.Thursday {
    background-color: #B91C1C;
}

.name {
    margin: 0px;
}

.content {
    background: #E9EFFF;
    border-radius: 10px;
    padding: 16px 13.5px;
    margin-bottom: 9px;
}

.time {
    flex-basis: 100px;
    border-right: 2px solid #D7D9E4;
}

.time p {
    font-weight: 400;
    margin: 0px;
    line-height: 15px;
    font-size: 14px;
}

.title {
    flex-basis: 250px;
}

.title p {
    font-weight: 700;
    margin: 0px;
    font-size: 14px;
}

.presenter {
    flex-basis: 375px;
}

.nameTitle {
    font-weight: 400;
    margin: 0px;
    font-size: 14px;
}

.name {
    color: #B91C1C;
}

#thursday,
#friday,
#saturday {
    overflow: hidden;
    transition: height 5s, linear 5s;
    animation-duration: 5s;
}

#friday,
#saturday {
    height: 0px;
}

.divider {
    width: 5px;
    height: 100%;
    background-color: red;
}

@media screen and (min-width: 450px) {
    .time {
        flex-basis: 325px;
    }
    .title {
        flex-basis: 590px;
        padding-left: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .eventSchedule {
        padding: 4rem;
    }
    .individualEvent,
    .content {
        padding-left: 3rem;
        padding-right: 4rem;
    }
    .time {
        flex-basis: 325px;
    }
    .time p {
        font-size: 16px;
    }
    .title {
        flex-basis: 590px;
        padding-left: 3rem;
    }
    .title p {
        font-weight: 700;
        margin: 0px;
        font-size: 16px;
    }
    .nameTitle {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .eventSchedule {
        padding-left: 7.875rem;
        padding-right: 7.875rem;
    }
    .individualEvent {
        gap: 7px
    }
    .individualEvent,
    .content {
        padding-left: 3rem;
        padding-right: 2.5rem;
    }
    .time {
        flex-basis: 325px;
    }
    .time p {
        font-size: 16px;
    }
    .title {
        flex-basis: 718px;
        padding-left: 3rem;
    }
    .title p {
        font-weight: 700;
        margin: 0px;
        font-size: 16px;
    }
    .nameTitle {
        font-size: 16px;
        font-weight: 400;
    }
}