.cta_header{
background-color: rgba(248, 177, 53, 1);
color: rgba(5, 55, 88, 1);
}

.header_padding {
  padding: 40px 135px 40px 135px; /* Default padding */
}

@media (max-width: 767px) {
  /* Mobile styles */
  .header_padding {
    padding: 33px 25px 25px 33px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet styles */
  .header_padding {
    padding: 33px 25px 25px 33px;
  }
}


.content-container {
    padding-top: 120px; /* Adjust the value to match your header height */
  }

  .linear{
    border: 2px medium;
background: linear-gradient(180deg, rgba(5, 55, 88, 0.65) 0%, rgba(5, 55, 88, 0) 100%);
  }

.bx{
  background-image: url('../public/knot.svg');
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: calc(100% - 10px) calc(0% + 10px); */
  background-position: calc(100% - (-35px)) calc(0% + (-35px));
}

.cta{
  background-color: black;
}