@tailwind base;
@tailwind components;
@tailwind utilities;


 input[type='radio'] {
    opacity: 0;
  }


 input[type='radio']:focus + label, input[type='radio']:checked  + label {
    background-color: #48b971;
    color: #fff;    
  }

   input[type='radio'] + label {
    cursor: pointer;
    margin-left: -0.5rem;
    margin-right: 0.35rem;
    padding: 0.2rem 0.4rem;
    border-radius: 6px;
    border:1px solid grey;
  }



.odometer-block > span {
    margin-right:1.5rem;
    font-size: 2rem;
    font-weight: semi-bold;
}

@media only screen and (max-width: 600px) {
    .odometer-block > span {
        margin:0.5rem 0rem;
       display: block;
    }
    
}