<!-- templates/registration_confirmation_email.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Registration Confirmation</title>
</head>
<body>
    <p>Hello!</p>

    <p>We are excited to see that you registered to attend this year’s Web3 Lagos Conference. We are working to give you an amazing and memorable experience at the event.</p>
    
    <p>Over the last years we have hosted a great event, where the community, speakers, friends, and ecosystem leads gather to discuss, interact, and share experiences. This year, we are also getting ready for another exciting experience. This year we are having a hacker house experience for builders (developers, designers, PM, and others), also we are bringing in a project/product pitch track where founders, developers, and product owners pitch their project/product to a team of experts (VC, business gurus, founders, etc.) for feedback and potential opportunities.</p>
    
    <p>As we get ready for the conference, we welcome you to go over videos from the 2023 edition of Web3 Lagos conference <a href="https://www.youtube.com/channel/UC1J8h-f4dSh6SCx1XkIPJog">here</a> and also share the news of the conference with your friends, giving them reasons to register. Do note that we are going to make a raffle draw for the first 500 persons to register on each of the days of the conference and 20 selected persons will win different prizes. Hurry up and share with your friends to register.</p>

    <p>Ensure to follow us on <a href="https://x.com/Web3LagosCon">X (Twitter)</a> and join the <a href="https://t.me/Web3bridge">Web3bridge telegram channel</a> for conference and other Web3bridge-related conversations. Make sure to use #Web3Lagos2024 if you are tweeting about the conference.</p>

    <p>Looking forward to seeing you at the conference.</p>
    
        {% if unique_code %}
        <p><strong>Congratulations! You are among the first 500 registrants. Here is your unique code: {{ unique_code }}</strong></p>
        <p>Please keep it safe</p>
        {% endif %}

    <p>Ayodeji Awosika<br>
    For the conference planning team</p>
</body>
</html>
