name: CI/CD Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    env:
      MONGODB_URI: ${{ secrets.MONGODB_URI }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install

      - name: Build app
        run: npm run build
      - name: Restart Server
        run: pm2 restart web3-lagos || pm2 start --name web3-lagos npm -- start
      - name: Copy Server File
        run: cp -r .next /var/www/web3-lagos

  # deploy:
  #   needs: build
  #   runs-on: self-hosted

  #   env:
  #     NODE_ENV: production
  #     PORT: 3004
  #     MONGODB_URI: ${{ secrets.MONGODB_URI }}
