name: CI/CD Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install

      - name: Build app
        run: npm run build

  deploy:
    needs: build
    runs-on: self-hosted

    env:
      NODE_ENV: production
      PORT: 3004
      MONGODB_URI: ${{ secrets.MONGODB_URI }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Restart app if already running
        run: pm2 restart web3-lagos || pm2 start --name web3-lagos npm -- start
